/*商品列表*/
main{
    width: 1210px;
    background:#e8e8e8;
    margin: 0 auto;
    overflow: hidden;
    color: #2f2f2f;
    .list-filtrate{
        width: 1208px;
        border:1px solid #ccc;
        font-size: 14px;
        margin-top: 18px;
        background: white;
        .list-filtrate-top{
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            border-bottom: 1px solid #ccc;
            padding-left: 36px;
            padding-right: 18px;
            span{
            display: inline-block;
            }
            span:first-child{
                background: url(/images/list/filtrate.jpg) no-repeat center left;
                padding-left: 24px;
                float: left;
            }
            span:last-child{
                float: right;
                color: black;
                cursor: pointer;
                padding-right:18px;
                background: url(/images/list/close_attribute.jpg) no-repeat center right;
            }
        }
        .list-filtrate-bottom{
            padding-left: 36px;
            padding-right: 18px;
            span{
                display: inline-block;
                input{
                    float: left;
                }
            }
            span:first-child{
                font-size: 14px;
            }
            .top{
                margin-top:24px;
            }
            .center,.bottom{
                margin-top: 10px;
            }
            .bottom{
                margin-bottom: 10px;
            }
            .top,.center,.bottom{
                span:first-child{
                    width: 90px;
                    height: 20px;
                }
            }
        }
    }
    .list-nav{
        width: 1208px;
        height: 42px;
        border:1px solid #ccc;
        margin-top:18px;
        background: white;
        font-size: 14px;
        margin-bottom: 18px;
        span{
            display: inline-block;
        }
        .list-proudect,.list-gless{
            width: 110px;
            height: 42px;
            border-right: 1px solid #ccc;
            text-align: center;
            line-height: 42px;
            cursor: pointer;
            float: left;
        }
        .list-gless{
            background: url(/images/list/tryon.jpg) no-repeat 88px center;
        }
        .list-search{
            min-width: 138px;
            height: 42px;
            margin-top: 0;
            margin-left: 78px;
            background: url(/images/list/search-close.jpg) no-repeat left center;
            padding-left:24px; 
            float: left;
            text-align: left;
            line-height: 42px;
            cursor: pointer;
        }
        ul{
            width: 474px;
            height: 42px;
            float: right;
            li{
                float: left;
                height: 42px;
                line-height: 42px;
                padding-left: 4px;
                width: 66px;
                height: 42px;
                i{
                    display: inline-block;
                    font-style:normal;
                }
                span{
                    display: inline-block;
                    width: 66px;
                    height: 42px;
                }
            }
            li:nth-child(1){
                width: 84px;
            }
            li:nth-child(1)>span{
                width: 84px;
            }
            li:nth-child(2)>span{
                background: url(/images/list/first.jpg) no-repeat center center;
            }
            li:nth-child(3),li:nth-child(5){
                width: 84px;
            }
            li:nth-child(3)>span{
                width: 85px;
                background: url(/images/list/prev.jpg) no-repeat center center;
            }
            li:nth-child(4){
                width: 55px;
            }
            li:nth-child(4)>select{
                height: 24px;
                float: left;
                margin-top: 9px;
            }
            li:nth-child(5)>span{
                width: 85px;
                background: url(/images/list/next.jpg) no-repeat center center;
            }
            li:nth-child(6)>span{
                background: url(/images/list/last.jpg) no-repeat center center;
            }
        }
    }
    .list-content{
        width: 102%;
        margin-top:8px;
        overflow: hidden;
       li{
            width: 394px;
            height: 346px;
            float: left;
            margin:0 9px 9px 2px;
             dl{
                width: 394px;
                height: 342px;
                background: white;
                border: 1px solid #ccc;
                dt{
                    width: 394px;
                    height: 278px;
                    background: url(/images/list/pic1.jpg) no-repeat center 0px;
                    position: relative;
                    span{
                        display: inline-block;
                        font-size: 14px;
                        color: #ccc;
                        margin-left: 8px;
                        margin-top: 8px;
                        }
                        i{
                            display: inline-block;
                            position: absolute;
                            width: 41px;
                            height: 38px;
                            bottom: 3px;
                            right: 2px;
                            background: url(/images/list/bg-close.jpg) no-repeat center center;
                            cursor: pointer;
                        }
                        i:hover{
                            background: url(/images/list/bg-open.jpg) no-repeat center center;
                        }
                        .list-mousebg{
                            position: absolute;
                            bottom: 8px;
                            height: 50px;
                            left:100px;
                            li{
                                float: left;
                                width: 50px;
                                height: 50px;
                                margin-left: 10px;
                                margin-top: 0px;
                                border:1px solid #ccc;
                                cursor: pointer;
                            }
                            li:hover{
                                border: 1px solid #fa4904;
                            }
                        }
                    }
                    dd{
                        padding-top: 8px;
                        border-top: 1px solid #ccc;
                        background: white;
                        p{
                            text-align: center;
                            color: #000;
                            span{
                                display: inline-block;
                                height: 16px;
                                border-right:1px solid #000;
                                line-height: 16px;
                                text-align: center;
                                padding-right: 4px;
                            }
                            span:last-child{
                                border:0;
                            }
                        }
                    }
                }
              dl:hover{
                width: 395px;
                height: 342px;
                box-shadow:1px 1px 3px #ccc,1px -1px 3px #ccc,-1px 1px 3px #ccc,-1px -1px 3px #ccc;
                cursor: pointer;
                }
                .list-mousebg{
                    display: none;
                }
                dl:hover .list-mousebg{
                    display: block;
                }
       }
    }
    .list-footer{
        width: 1208px;
        height: 42px;
        background: white;
    }
}
