@charset "UTF-8";
/*商品购买*/
main {
  width: 1210px;
  background: #e8e8e8;
  margin: 0 auto;
  overflow: hidden;
}

main .detail-wrap {
  width: 1164px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  background: white;
  margin-top: 8px;
  padding: 0px 22px;
}

main .detail-wrap h1 {
  height: 36px;
  background: url(/images/detail/shopping-title.gif) no-repeat 0px -72px;
  margin-top: 16px;
}

main .detail-wrap .center {
  width: 1126px;
  height: 240px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin-top: 30px;
  font-size: 12px;
  padding-left: 36px;
  position: relative;
}

main .detail-wrap .center .center-wrap h3 {
  padding-left: 14px;
  padding-top: 40px;
}

main .detail-wrap .center .center-wrap h3 a {
  color: black;
}

main .detail-wrap .center .center-wrap ul {
  margin-top: 20px;
  float: left;
  color: #2f2f2f;
  list-style: none;
}

main .detail-wrap .center .center-wrap ul:nth-child(2) {
  width: 206px;
  padding-left: 40px;
  border-right: 1px dashed #494949;
}

main .detail-wrap .center .center-wrap ul:nth-child(2) span {
  display: inline-block;
  margin-left: 92px;
}

main .detail-wrap .center .center-wrap ul:nth-child(2) li {
  padding: 15px 0;
}

main .detail-wrap .center .center-wrap ul:nth-child(2) li select {
  margin-left: 28px;
}

main .detail-wrap .center .center-wrap ul:nth-child(3) {
  margin-left: 34px;
  width: 96px;
  border-right: 1px solid #494949;
}

main .detail-wrap .center .center-wrap ul:nth-child(3) li {
  padding: 15px 0;
}

main .detail-wrap .center .center-wrap ul:nth-child(4) {
  position: relative;
  width: 180px;
  border-right: 1px dashed #494949;
}

main .detail-wrap .center .center-wrap ul:nth-child(4) span {
  display: inline-block;
}

main .detail-wrap .center .center-wrap ul:nth-child(4) span:first-child {
  padding-left: 86px;
}

main .detail-wrap .center .center-wrap ul:nth-child(4) span:nth-child(2) {
  width: 62px;
  height: 20px;
  background: url(/images/detail/bg.png) no-repeat center center;
  position: absolute;
  top: 16px;
  left: 0px;
}

main .detail-wrap .center .center-wrap ul:nth-child(4) li {
  padding: 15px 0;
  padding-left: 86px;
}

main .detail-wrap .center .center-wrap ul:nth-child(5) {
  padding-left: 24px;
}

main .detail-wrap .center .center-wrap ul:nth-child(5) li {
  padding: 15px 0;
}

main .detail-wrap .center .detail-p {
  position: absolute;
  bottom: 20px;
  left: 36px;
}

main .detail-wrap .center .center-right {
  width: 116px;
  height: 192px;
  position: absolute;
  top: 36px;
  right: 30px;
}

main .detail-wrap .center .center-right a {
  color: #cc0000;
  display: inline-block;
  width: 102px;
}

main .detail-wrap .center .center-right a span {
  display: inline-block;
  width: 18px;
  height: 18px;
  float: right;
  background: url(/images/detail/wenhao.png) no-repeat center center;
}

main .detail-wrap .center .center-right button {
  width: 102px;
  height: 30px;
  margin-top: 144px;
  margin-left: 5px;
  border: 0;
  background: url(/images/detail/up.png) no-repeat center center;
  cursor: pointer;
}

main .detail-wrap .bottom {
  width: 1164px;
  font-size: 12px;
  margin-top: 18px;
  color: #2f2f2f;
}

main .detail-wrap .bottom p {
  padding-left: 36px;
}

main .detail-wrap .bottom ul:nth-child(2) {
  width: 1164px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  margin-top: 10px;
}

main .detail-wrap .bottom ul:nth-child(2) li {
  height: 40px;
  line-height: 40px;
  padding: 0 36px;
  background: #ccc;
  margin-right: 4px;
  float: left;
}

main .detail-wrap .bottom ul:nth-child(2) li:first-child {
  margin-left: 20px;
}

main .detail-wrap .bottom ul:nth-child(2) .active_meno {
  background: white;
  border: 1px solid;
  border-bottom: 0;
}

main .detail-wrap .bottom .detail_lists {
  width: 1164px;
  margin-top: 10px;
  border: 1px solid #ccc;
  background: #f3f3f3;
  display: none;
}

main .detail-wrap .bottom .detail_lists li {
  height: 40px;
  width: 1164px;
  line-height: 40px;
  text-align: left;
  margin-left: 0;
  cursor: pointer;
}

main .detail-wrap .bottom .detail_lists li span {
  display: inline-block;
}

main .detail-wrap .bottom .detail_lists li input {
  margin-left: 10px;
}

main .detail-wrap .bottom .detail_lists li span:nth-child(2) {
  margin-left: 20px;
  width: 210px;
}

main .detail-wrap .bottom .detail_lists li span:nth-child(3) {
  width: 356px;
}

main .detail-wrap .bottom .detail_lists li span:last-child {
  color: #cc0000;
}

main .detail-wrap .bottom .detail_lists li:last-child {
  margin-bottom: 10px;
}

main .detail-wrap .bottom .detail_list {
  display: block;
}

main .detail-wrap .detail-total {
  width: 146px;
  height: 70px;
  margin-top: 36px;
  margin-bottom: 46px;
  margin-left: 996px;
}

main .detail-wrap .detail-total p {
  padding-left: 14px;
}

main .detail-wrap .detail-total button {
  width: 133px;
  height: 40px;
  margin-top: 12px;
  border: 0;
  background: url(/images/detail/goshopping-opping.jpg) no-repeat center center;
  cursor: pointer;
}

main .detail-wrap .detail-total button a {
  display: inline-block;
  width: 133px;
  height: 40px;
}
